
        .normal {
            font-family: arial, sans-serif;
        }
        
        .nav-button {
            line-height: 3;
            color: #A2AC87;
            font-size: 14px;
            letter-spacing: 4px;
            text-align: center;
        }
        
        h1,
        h2 {
            font-size: 50px;
            font-weight: 100;
            color: #444444;
        }
        
        .content {
            line-height: 2;
            color: #444444;
            font-size: 16px;
        }
        
        .active-menu {
            font-weight: bold;
        }
        
        body.enable-mobile {
            padding: 0;
        }
        /* ******************* *
 * always visible menu */
        
        .silex-runtime .editable-style.nav-section {
            position: fixed;
            z-index: 9999;
        }
        
        .silex-runtime .nav-section+.editable-style {
            margin-top: 100px;
        }
        /* ******************* */
    
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1491510574619-3 {
            background-color: rgba(255, 255, 255, 1);
            border-color: #000000;
            min-width: 1000px;
            top: 5px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491510574619-3 {
                top: 0px;
                left: 0px;
            }
        }
        
        .silex-id-1491510574619-2 {
            width: 1000px;
            min-height: 122px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491510574619-2 {
                min-height: 73px;
            }
        }
        
        .silex-id-1491512678931-14 {
            width: 997px;
            background-color: transparent;
            min-height: 64px;
            top: 65px;
            left: -2px;
            border-color: #000000;
        }
        
        .silex-id-1491511288894-6 {
            width: 113px;
            min-height: 42px;
            top: 10px;
            left: 7px;
            border-color: #000000;
        }
        
        .silex-id-1498677293904-0 {
            width: 113px;
            min-height: 42px;
            top: 11px;
            left: 112px;
        }
        
        .silex-id-1498677949032-2 {
            width: 70px;
            min-height: 42px;
            top: 11px;
            left: 239px;
        }
        
        .silex-id-1498689558313-15 {
            width: 87px;
            min-height: 42px;
            top: 10px;
            left: 323px;
        }
        
        .silex-id-1498689575311-16 {
            width: 274px;
            min-height: 42px;
            top: 10px;
            left: 417px;
        }
        
        .silex-id-1491511629302-8 {
            width: 181px;
            min-height: 42px;
            top: 9px;
            left: 693px;
        }
        
        .silex-id-1491511582447-7 {
            width: 113px;
            min-height: 42px;
            top: 9px;
            left: 877px;
        }
        
        .silex-id-1491511225781-5 {
            width: 122px;
            min-height: 57px;
            top: 14px;
            left: 437px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491511225781-5 {
                left: 328px;
                top: 23771px;
            }
        }
        
        .silex-id-1491510465972-1 {
            top: 160px;
            left: 5px;
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
            border-color: #000000;
            background-image: url('../assets/background1.jpg');
            background-size: auto;
            background-position: bottom center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            min-height: 470px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491510465972-1 {
                top: 160px;
                left: 5px;
                background-color: rgba(255, 255, 255, 1);
                min-width: 1000px;
                border-color: #000000;
                background-image: url('../assets/background1.jpg');
                background-size: cover;
                background-position: bottom center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                min-height: 470px;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
        }
        
        .silex-id-1491510465971-0 {
            width: 1000px;
            top: 15px;
            left: 233px;
            background-color: transparent;
            min-height: 470px;
            background-size: auto;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491510465971-0 {
                min-height: 713px;
                background-attachment: fixed;
                background-repeat: repeat;
            }
        }
        
        .silex-id-1498681784720-0 {
            width: 908px;
            min-height: 111px;
            top: 109px;
            left: 40px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498681784720-0 {
                top: 75px;
                left: 17px;
                width: 405px;
                min-height: 148px;
            }
        }
        
        .silex-id-1498691295499-17 {
            width: 149px;
            min-height: 144px;
            top: 229px;
            left: 432px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498691295499-17 {
                left: 425px;
                top: 24322px;
                width: 125px;
                min-height: 115px;
            }
        }
        
        .silex-id-1491514255098-19 {
            background-color: rgb(255, 255, 255);
            min-width: 1000px;
            top: 667px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514255098-19 {
                top: 786px;
                left: 0px;
            }
        }
        
        .silex-id-1491514255097-18 {
            width: 1000px;
            min-height: 1611px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514255097-18 {
                min-height: 1541px;
            }
        }
        
        .silex-id-1491516338811-42 {
            width: 1000px;
            background-color: transparent;
            min-height: 1611px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516338811-42 {
                top: 34px;
                left: 11px;
                width: 417px;
                min-height: 718px;
            }
        }
        
        .silex-id-1491516586068-44 {
            width: 1000px;
            background-color: rgb(255, 255, 255);
            min-height: 336px;
            top: 88px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516586068-44 {
                top: 192px;
                left: 12px;
                width: 393px;
                min-height: 504px;
            }
        }
        
        .silex-id-1491514313632-20 {
            width: 211px;
            min-height: 69px;
            top: 5px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514313632-20 {
                top: 196px;
                left: 10px;
                width: 397px;
                min-height: 69px;
            }
        }
        
        .silex-id-1491514817330-22 {
            width: 686px;
            min-height: 336px;
            top: 0px;
            left: 314px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514817330-22 {
                top: 69px;
                left: 13px;
                width: 368px;
                min-height: 506px;
            }
        }
        
        .silex-id-1498789684336-0 {
            width: 211px;
            min-height: 100px;
            top: 75px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498789684336-0 {
                left: 217px;
                top: 23884px;
            }
        }
        
        .silex-id-1498703854046-9 {
            width: 875px;
            background-color: rgb(255, 255, 255);
            min-height: 294px;
            top: 425px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498703854046-9 {
                top: 744px;
                left: 10px;
                width: 397px;
                min-height: 554px;
            }
        }
        
        .silex-id-1498703830569-6 {
            width: 875px;
            min-height: 69px;
            top: -55px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498703830569-6 {
                width: 376px;
                top: 19px;
                left: 10px;
                min-height: 106px;
            }
        }
        
        .silex-id-1498703948787-10 {
            width: 852px;
            top: 70px;
            left: 24px;
            min-height: 218px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498703948787-10 {
                top: 106px;
                left: 12px;
                width: 368px;
                min-height: 402px;
            }
        }
        
        .silex-id-1498703698523-4 {
            width: 875px;
            background-color: rgb(255, 255, 255);
            min-height: 374px;
            top: 721px;
            left: 60px;
        }
        
        .silex-id-1498678391814-6 {
            width: 875px;
            min-height: 69px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498678391814-6 {
                top: 0px;
                left: 10px;
                width: 397px;
                min-height: 69px;
            }
        }
        
        .silex-id-1498678381408-5 {
            width: 852px;
            min-height: 304px;
            top: 70px;
            left: 24px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498678381408-5 {
                top: 23706px;
                left: 56px;
                width: 368px;
                min-height: 624px;
            }
        }
        
        .silex-id-1498703658326-3 {
            width: 875px;
            background-color: rgb(255, 255, 255);
            min-height: 262px;
            top: 1097px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498703658326-3 {
                top: 26127px;
                left: 23px;
                width: 417px;
                min-height: -93px;
            }
        }
        
        .silex-id-1498682239537-3 {
            width: 875px;
            min-height: 69px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498682239537-3 {
                top: 0px;
                left: 80px;
                width: 397px;
                min-height: 69px;
            }
        }
        
        .silex-id-1498682250985-4 {
            width: 852px;
            min-height: 190px;
            top: 70px;
            left: 24px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498682250985-4 {
                top: 327px;
                left: 10px;
                width: 368px;
                min-height: 304px;
            }
        }
        
        .silex-id-1498706032381-12 {
            width: 875px;
            background-color: rgb(255, 255, 255);
            min-height: 230px;
            top: 1361px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498706032381-12 {
                top: 26563px;
                left: 23px;
                width: 417px;
                min-height: 261px;
            }
        }
        
        .silex-id-1498705775177-11 {
            width: 875px;
            min-height: 69px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498705775177-11 {
                top: 0px;
                left: 85px;
                width: 397px;
                min-height: 69px;
            }
        }
        
        .silex-id-1498706050982-13 {
            width: 852px;
            top: 70px;
            left: 24px;
            min-height: 132px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498706050982-13 {
                top: 23876px;
                left: 42px;
                width: 368px;
                min-height: 192px;
            }
        }
        
        .silex-id-1498678205533-3 {
            width: 985px;
            min-height: 86px;
            top: -33px;
            left: 15px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498678205533-3 {
                top: 0px;
                left: 10px;
                width: 397px;
                min-height: 117px;
            }
        }
        
        .silex-id-1491515247117-24 {
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
            background-image: url('../assets/Nehalem_Die_Shot_2.jpg');
            background-attachment: fixed;
            background-size: auto;
            background-position: top center;
            background-repeat: repeat;
            top: 1341px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515247117-24 {
                top: 4105px;
                left: 0px;
                background-position: top right;
                background-repeat: no-repeat;
            }
        }
        
        .silex-id-1491515247116-23 {
            width: 1000px;
            background-color: transparent;
            min-height: 241px;
            top: 15px;
            left: 250px;
            background-attachment: fixed;
            background-size: cover;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515247116-23 {
                min-height: 267px;
            }
        }
        
        .silex-id-1491515325968-26 {
            background-color: rgb(255, 255, 255);
            min-width: 1000px;
            top: 2562px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515325968-26 {
                top: 1868px;
                left: 0px;
            }
        }
        
        .silex-id-1491515325967-25 {
            width: 1000px;
            min-height: 1518px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515325967-25 {
                min-height: -178px;
            }
        }
        
        .silex-id-1491516663908-45 {
            width: 1000px;
            background-color: rgb(255, 255, 255);
            min-height: 745px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516663908-45 {
                top: 0px;
                left: 11px;
                width: 417px;
                min-height: -625px;
            }
        }
        
        .silex-id-1498703208610-2 {
            width: 671px;
            min-height: 140px;
            top: 0px;
            left: 15px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498703208610-2 {
                top: 0px;
                left: 10px;
                width: 397px;
                min-height: 140px;
            }
        }
        
        .silex-id-1498706436314-14 {
            width: 940px;
            top: 141px;
            left: 60px;
            min-height: 82px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498706436314-14 {
                left: 71px;
                top: 23585px;
                width: 368px;
                min-height: 119px;
            }
        }
        
        .silex-id-1498761383778-0 {
            width: 940px;
            background-color: rgb(255, 255, 255);
            min-height: 398px;
            top: 225px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498761383778-0 {
                left: 33px;
                top: 22967px;
                width: 417px;
                min-height: 1750px;
            }
        }
        
        .silex-id-1498779899204-3 {
            background-image: url('../assets/Intel-Broadwell-Core-i7-5775C_Die.jpg');
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 1);
            background-position: top left;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498779899204-3 {
                top: 5807px;
                left: 0px;
                background-repeat: no-repeat;
            }
        }
        
        .silex-id-1498779899202-2 {
            min-height: 241px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498779899202-2 {
                min-height: 271px;
            }
        }
        
        .silex-id-1498771616474-7 {
            top: 4080px;
            left: 5px;
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771616474-7 {
                top: 6123px;
                left: 0px;
            }
        }
        
        .silex-id-1498771616472-6 {
            width: 1000px;
            min-height: 9106px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771616472-6 {
                min-height: 3269px;
            }
        }
        
        .silex-id-1498794921030-8 {
            width: 1000px;
            background-color: transparent;
            min-height: 2906px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498794921030-8 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 785px;
            }
        }
        
        .silex-id-1498771788009-24 {
            width: 985px;
            min-height: 140px;
            top: 0px;
            left: 15px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771788009-24 {
                top: 36px;
                left: 11px;
                width: 410px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498773897378-32 {
            width: 940px;
            min-height: 36px;
            top: 143px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498773897378-32 {
                left: 22px;
                top: 23774px;
            }
        }
        
        .silex-id-1498775141260-39 {
            width: 868px;
            min-height: 4100px;
            top: 182px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498775141260-39 {
                min-height: 2500px;
                left: 22px;
                top: 19347px;
                width: 1500px;
            }
        }
        
        .silex-id-1498795138135-14 {
            width: 1000px;
            background-color: transparent;
            min-height: 495px;
            top: 4282px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795138135-14 {
                top: 2794px;
                left: 11px;
                width: 417px;
                min-height: 337px;
            }
        }
        
        .silex-id-1498775847548-0 {
            width: 940px;
            min-height: 36px;
            top: 25px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498775847548-0 {
                min-height: 36px;
            }
        }
        
        .silex-id-1498775868830-1 {
            width: 627px;
            min-height: 408px;
            top: 73px;
            left: 183px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498775868830-1 {
                width: 627px;
                top: 73px;
                left: 183px;
                min-height: 300px;
            }
        }
        
        .silex-id-1498795377312-25 {
            width: 1000px;
            background-color: transparent;
            min-height: 1373px;
            top: 2907px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795377312-25 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498813796139-9 {
            width: 1000px;
            background-color: transparent;
            min-height: 1100px;
            top: 4779px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498813796139-9 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498775925571-2 {
            width: 940px;
            min-height: 36px;
            top: 25px;
            left: 60px;
        }
        
        .silex-id-1498775940484-3 {
            width: 794px;
            min-height: 1014px;
            top: 73px;
            left: 95px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498775940484-3 {
                min-height: 580px;
            }
        }
        
        .silex-id-1498813868611-16 {
            width: 1000px;
            background-color: transparent;
            min-height: 808px;
            top: 5881px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498813868611-16 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498775979641-4 {
            width: 940px;
            min-height: 37px;
            top: 25px;
            left: 60px;
        }
        
        .silex-id-1498776051516-5 {
            width: 643px;
            min-height: 719px;
            top: 73px;
            left: 170px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776051516-5 {
                min-height: 500px;
            }
        }
        
        .silex-id-1498795192006-18 {
            width: 1000px;
            background-color: transparent;
            min-height: 1484px;
            top: 6690px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795192006-18 {
                top: 23080px;
                left: 33px;
                width: 417px;
                min-height: 218px;
            }
        }
        
        .silex-id-1498776071824-6 {
            width: 940px;
            min-height: 36px;
            top: 25px;
            left: 60px;
        }
        
        .silex-id-1498776143991-7 {
            width: 854px;
            min-height: 1380px;
            top: 73px;
            left: 70px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776143991-7 {
                min-height: 688px;
                top: 74px;
                left: 9px;
                width: 398px;
            }
        }
        
        .silex-id-1498813421573-0 {
            width: 1000px;
            background-color: transparent;
            min-height: 930px;
            top: 8176px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498813421573-0 {
                top: 23310px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498776197251-8 {
            width: 940px;
            min-height: 36px;
            top: 25px;
            left: 60px;
        }
        
        .silex-id-1498776250468-9 {
            width: 696px;
            min-height: 504px;
            top: 73px;
            left: 170px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776250468-9 {
                top: 74px;
                left: 33px;
                width: 351px;
                min-height: 265px;
            }
        }
        
        .silex-id-1498776260154-10 {
            width: 940px;
            min-height: 36px;
            top: 630px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776260154-10 {
                left: 22px;
                top: 21073px;
            }
        }
        
        .silex-id-1498776390753-13 {
            width: 175px;
            min-height: 21px;
            top: 825px;
            left: 400px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776390753-13 {
                left: 121px;
                top: 413px;
                width: 175px;
                min-height: 66px;
            }
        }
        
        .silex-id-1498776342721-12 {
            width: 940px;
            min-height: 36px;
            top: 757px;
            left: 60px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776342721-12 {
                left: 10px;
                top: 479px;
                width: 397px;
                min-height: 74px;
            }
        }
        
        .silex-id-1498776314570-11 {
            width: 175px;
            min-height: 21px;
            top: 697px;
            left: 400px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776314570-11 {
                left: 121px;
                top: 553px;
                min-height: 69px;
                width: 175px;
            }
        }
        
        .silex-id-1498776788653-15 {
            background-image: url('../assets/introducing-6th-generation-core-2x1.jpg');
            top: 13107px;
            left: 5px;
            background-size: auto;
            background-repeat: repeat;
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 1);
            background-position: top left;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776788653-15 {
                background-repeat: repeat;
                background-position: center left;
                background-size: auto;
            }
        }
        
        .silex-id-1498776788651-14 {
            min-height: 241px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498776788651-14 {
                min-height: 268px;
            }
        }
        
        .silex-id-1498771618707-9 {
            top: 13884px;
            left: 5px;
            min-width: 1000px;
        }
        
        .silex-id-1498771618706-8 {
            width: 1000px;
            min-height: 4935px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771618706-8 {
                min-height: 616px;
            }
        }
        
        .silex-id-1498795514831-29 {
            width: 1175px;
            background-color: transparent;
            min-height: 664px;
            top: -7px;
            left: -79px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795514831-29 {
                top: 0px;
                left: 11px;
                width: 417px;
                min-height: 86px;
            }
        }
        
        .silex-id-1498771827098-25 {
            width: 927px;
            min-height: 141px;
            top: 33px;
            left: 83px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771827098-25 {
                top: 36px;
                left: 11px;
                width: 410px;
                min-height: 70px;
            }
        }
        
        .silex-id-1498777246881-16 {
            width: 601px;
            min-height: 37px;
            top: 165px;
            left: 131px;
        }
        
        .silex-id-1498777470672-20 {
            width: 1158px;
            min-height: 411px;
            top: 222px;
            left: 10px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777470672-20 {
                left: 10px;
                top: 458px;
                width: 397px;
                min-height: 189px;
            }
        }
        
        .silex-id-1498795755878-38 {
            width: 1175px;
            background-color: transparent;
            min-height: 792px;
            top: 629px;
            left: -80px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795755878-38 {
                top: 462px;
                left: 11px;
                width: 417px;
                min-height: 447px;
            }
        }
        
        .silex-id-1498777775562-21 {
            width: 601px;
            min-height: 37px;
            top: 30px;
            left: 132px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777775562-21 {
                top: 70px;
                left: 10px;
                width: 397px;
                min-height: 74px;
            }
        }
        
        .silex-id-1498777853767-22 {
            width: 856px;
            min-height: 673px;
            top: 109px;
            left: 157px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777853767-22 {
                top: 89px;
                left: 10px;
                width: 397px;
                min-height: 353px;
            }
        }
        
        .silex-id-1498795965695-42 {
            width: 1175px;
            background-color: transparent;
            min-height: 882px;
            top: 1463px;
            left: -77px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498795965695-42 {
                top: 960px;
                left: 11px;
                width: 417px;
                min-height: 558px;
            }
        }
        
        .silex-id-1498777915202-23 {
            width: 601px;
            min-height: 36px;
            top: -13px;
            left: 130px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777915202-23 {
                top: 9px;
                left: 8px;
                width: 399px;
                min-height: 111px;
            }
        }
        
        .silex-id-1498777946113-25 {
            width: 876px;
            min-height: 805px;
            top: 67px;
            left: 141px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777946113-25 {
                top: 138px;
                left: 9px;
                width: 398px;
                min-height: 411px;
            }
        }
        
        .silex-id-1498796054472-45 {
            width: 1050px;
            background-color: transparent;
            min-height: 882px;
            top: 2363px;
            left: -10px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796054472-45 {
                top: 1467px;
                left: 11px;
                width: 417px;
                min-height: 500px;
            }
        }
        
        .silex-id-1498777976778-26 {
            width: 601px;
            min-height: 36px;
            top: 0px;
            left: 66px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498777976778-26 {
                top: 9px;
                left: 10px;
                width: 397px;
                min-height: 111px;
            }
        }
        
        .silex-id-1498778044568-27 {
            width: 868px;
            min-height: 762px;
            top: 80px;
            left: 99px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498778044568-27 {
                top: 140px;
                left: 10px;
                width: 397px;
                min-height: 389px;
            }
        }
        
        .silex-id-1498796101430-48 {
            width: 1052px;
            background-color: transparent;
            min-height: 765px;
            top: 3253px;
            left: -36px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796101430-48 {
                top: 1967px;
                left: 11px;
                width: 417px;
                min-height: 509px;
            }
        }
        
        .silex-id-1498778062768-28 {
            width: 601px;
            min-height: 37px;
            top: 13px;
            left: 94px;
        }
        
        .silex-id-1498778115454-29 {
            width: 889px;
            min-height: 672px;
            top: 96px;
            left: 93px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498778115454-29 {
                left: 10px;
                top: 111px;
                width: 397px;
                min-height: 362px;
            }
        }
        
        .silex-id-1498796247007-51 {
            width: 861px;
            background-color: transparent;
            min-height: 845px;
            top: 4031px;
            left: 18px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796247007-51 {
                top: 2476px;
                left: 11px;
                width: 417px;
                min-height: 866px;
            }
        }
        
        .silex-id-1498778177146-30 {
            width: 601px;
            min-height: 36px;
            top: 31px;
            left: 40px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498778177146-30 {
                top: 0px;
                left: 10px;
                width: 397px;
                min-height: 131px;
            }
        }
        
        .silex-id-1498779248370-1 {
            width: 400px;
            min-height: 718px;
            top: 116px;
            left: 312px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498779248370-1 {
                left: 43px;
                top: 17791px;
                width: 397px;
                min-height: 693px;
            }
        }
        
        .silex-id-1498778407345-35 {
            background-image: url('../assets/cpuchip.jpg');
            background-size: auto;
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498778407345-35 {
                top: 15007px;
                left: 0px;
                background-repeat: repeat;
                background-position: top center;
            }
        }
        
        .silex-id-1498778407344-34 {
            min-height: 241px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498778407344-34 {
                min-height: 307px;
            }
        }
        
        .silex-id-1498771620207-11 {
            top: 19130px;
            left: 5px;
            min-width: 1000px;
        }
        
        .silex-id-1498771620206-10 {
            min-height: 1319px;
            top: 15px;
            left: 303px;
            width: 1000px;
        }
        
        .silex-id-1498797825062-82 {
            width: 916px;
            background-color: transparent;
            min-height: 217px;
            top: 13px;
            left: 54px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797825062-82 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498771851081-26 {
            width: 307px;
            min-height: 199px;
            top: 1px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498771851081-26 {
                top: 0px;
                left: 10px;
                width: 397px;
                min-height: 135px;
            }
        }
        
        .silex-id-1498781390330-4 {
            width: 911px;
            top: 115px;
            left: 26px;
            min-height: 27px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498781390330-4 {
                width: 911px;
                top: 136px;
                left: 26px;
                min-height: 27px;
                line-height: 200%;
            }
        }
        
        .silex-id-1498796813942-54 {
            width: 347px;
            background-color: transparent;
            min-height: 319px;
            top: 203px;
            left: 35px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796813942-54 {
                top: 17946px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498782057889-6 {
            width: 200px;
            min-height: 147px;
            top: 0px;
            left: 74px;
        }
        
        .silex-id-1498783544545-15 {
            width: 335px;
            top: 207px;
            left: 9px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783544545-15 {
                top: 147px;
                left: 8px;
                width: 399px;
                min-height: 100px;
            }
        }
        
        .silex-id-1498796858654-57 {
            width: 347px;
            background-color: transparent;
            min-height: 319px;
            top: 203px;
            left: 390px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796858654-57 {
                top: 18197px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498782230819-7 {
            width: 200px;
            min-height: 147px;
            top: 0px;
            left: 74px;
        }
        
        .silex-id-1498790128151-3 {
            width: 32px;
            top: 162px;
            left: 156px;
            min-height: 32px;
        }
        
        .silex-id-1498783600140-17 {
            width: 309px;
            top: 207px;
            left: 8px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783600140-17 {
                top: 147px;
                left: 9px;
                width: 398px;
                min-height: 100px;
            }
        }
        
        .silex-id-1498796997309-59 {
            width: 347px;
            background-color: transparent;
            min-height: 312px;
            top: 203px;
            left: 705px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498796997309-59 {
                top: 18197px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498782356029-8 {
            width: 200px;
            min-height: 147px;
            top: 0px;
            left: 74px;
        }
        
        .silex-id-1498790137046-4 {
            width: 32px;
            top: 162px;
            left: 156px;
            min-height: 32px;
        }
        
        .silex-id-1498783598211-16 {
            width: 321px;
            top: 207px;
            left: 2px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783598211-16 {
                left: 9px;
                top: 147px;
                width: 398px;
                min-height: 100px;
            }
        }
        
        .silex-id-1498797098615-63 {
            width: 347px;
            background-color: transparent;
            min-height: 344px;
            top: 536px;
            left: 35px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797098615-63 {
                top: 18197px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498782492174-9 {
            width: 200px;
            min-height: 147px;
            top: 0px;
            left: 74px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498782492174-9 {
                left: 302px;
                top: 18137px;
            }
        }
        
        .silex-id-1498790140385-5 {
            width: 32px;
            top: 194px;
            left: 156px;
            min-height: 32px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498790140385-5 {
                left: 261px;
                top: 18251px;
            }
        }
        
        .silex-id-1498783727561-19 {
            width: 309px;
            top: 235px;
            left: 0px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783727561-19 {
                left: 9px;
                top: 147px;
                width: 398px;
                min-height: 100px;
            }
        }
        
        .silex-id-1498797395101-70 {
            width: 347px;
            background-color: transparent;
            min-height: 381px;
            top: 536px;
            left: 705px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797395101-70 {
                top: 18197px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498783155293-11 {
            width: 200px;
            min-height: 147px;
            top: 0px;
            left: 74px;
        }
        
        .silex-id-1498790152936-7 {
            width: 32px;
            top: 194px;
            left: 156px;
            min-height: 32px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498790152936-7 {
                left: 261px;
                top: 18251px;
            }
        }
        
        .silex-id-1498783784676-20 {
            width: 282px;
            top: 235px;
            left: 51px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783784676-20 {
                top: 147px;
                left: 7px;
                width: 400px;
                min-height: 100px;
            }
        }
        
        .silex-id-1498797241631-66 {
            width: 347px;
            background-color: transparent;
            min-height: 381px;
            top: 536px;
            left: 390px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797241631-66 {
                top: 18145px;
                left: 25px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1498782855078-10 {
            width: 200px;
            min-height: 167px;
            top: 0px;
            left: 74px;
        }
        
        .silex-id-1498790151247-6 {
            width: 32px;
            top: 194px;
            left: 156px;
            min-height: 32px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498790151247-6 {
                left: 261px;
                top: 18261px;
            }
        }
        
        .silex-id-1498783674851-18 {
            width: 309px;
            top: 235px;
            left: 9px;
            min-height: 100px;
            line-height: 200%;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783674851-18 {
                left: 7px;
                top: 167px;
                width: 400px;
                min-height: 132px;
            }
        }
        
        .silex-id-1498797482863-74 {
            width: 556px;
            background-color: transparent;
            min-height: 287px;
            top: 965px;
            left: 247px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797482863-74 {
                top: 1735px;
                left: 11px;
                width: 417px;
                min-height: 345px;
            }
        }
        
        .silex-id-1498783271225-12 {
            width: 280px;
            min-height: 59px;
            top: 0px;
            left: 138px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783271225-12 {
                top: 31px;
                left: 68px;
                width: 280px;
                min-height: 37px;
            }
        }
        
        .silex-id-1498783501304-14 {
            width: 200px;
            min-height: 184px;
            top: 89px;
            left: 356px;
        }
        
        .silex-id-1498783490271-13 {
            width: 200px;
            min-height: 147px;
            top: 89px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498783490271-13 {
                left: 344px;
                top: 18124px;
            }
        }
        
        .silex-id-1491515759410-36 {
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
            background-image: url('../assets/sandybridge1.jpeg');
            background-size: cover;
            top: 20149px;
            left: 5px;
            background-attachment: fixed;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515759410-36 {
                top: 17617px;
                left: 0px;
            }
        }
        
        .silex-id-1491515759409-35 {
            width: 1000px;
            background-color: rgba(49, 54, 84, 0.9058823529411765);
            min-height: 866px;
            top: 15px;
            left: 303px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515759409-35 {
                min-height: 872px;
            }
        }
        
        .silex-id-1498797630880-78 {
            width: 974px;
            background-color: transparent;
            min-height: 519px;
            top: 0px;
            left: 25px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1498797630880-78 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 291px;
            }
        }
        
        .silex-id-1491515891360-38 {
            width: 407px;
            top: 0px;
            left: 0px;
            min-height: 243px;
            background-color: rgba(49, 54, 84, 0);
            line-height: 200%;
        }
        
        .silex-id-1498773284036-30 {
            width: 32px;
            top: 290px;
            left: 0px;
            min-height: 32px;
        }
        
        .silex-id-1498773419132-31 {
            width: 32px;
            top: 290px;
            left: 40px;
            min-height: 32px;
        }
        
        .silex-id-1491515806933-37 {
            width: 538px;
            height: 451px;
            background-color: transparent;
            top: 54px;
            left: 409px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515806933-37 {
                top: 18px;
                left: 25px;
                width: 405px;
                height: 449px;
            }
        }
    